body 
{
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
  
    background: linear-gradient(to right,#e694af, #8eacff);
    /*background-image: url("Gradient2.jpg");*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: 'Courgette', cursive;
    font-size:large;
    }
  p
  {
   margin:12px;
   

  }
.main
{
    /*border: 2px solid rgb(55, 80, 219);*/
    padding: 20px;
    margin: auto;
    background-color:rgba(0, 0, 0, 0.3);
    color:white;
    width:40%;
    height:700px;
    border-radius: 5px;
    text-align:left;
    box-shadow: 2px 2px 15px rgba(0,0,0,0.1);
    }
label
{
      text-align:right;
      padding-right:20px;
      display:inline-block;
      min-width:150px;
    }
h1
{
    text-align:center;
    font-family: 'Josefin Sans', sans-serif;
}

table {
        border-collapse: collapse;
        width: 95%;
        /*border: 2px solid rgb(213, 143, 245);*/
        border-radius:6px;
        margin: 10px;
        
      }
      
th, td {
        padding: 8px;
        text-align: center;
       /* border-bottom: 1px solid #ddd;*/
        height: 70px;
      }
input
    {  
        color:white;
        font-size: medium;
        border: none;
        border-bottom: 2px solid rgb(253, 253, 253);
        background-color: rgba(0,0,0,0.0125);
        height: 40px;
    }
select
{
    width: 55%;
    margin: auto;
    border-width: 2px; 
    border-color: rgb(213, 143, 245);
    margin-top: 12px;
    height:50px;
    border-radius: 5px;
}

button {
    /*background-color: rgb(213, 143, 245);
    border: none;
    color: white;*/
    background: linear-gradient(to right, #809be4,#e6789d);
    border-radius: 30px;
    transition: .5s;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
    display:block;
  }
a
{
    font-size: 20px;
}
.box
{
    padding: 20px;
    margin: 20px;
    border: 2px rgb(236, 200, 200);
    border-radius : 6px;
}
canvas
{
    background-color: rgb(238, 177, 220);
    margin-top: auto;
    width:100%;
    border-radius:5px;
}
.left
{   
    height:100%;
    width:45%;
    float:left;
    Margin: 10px;
    padding: 20px;
    background-color:rgba(0, 0, 0, 0.2);
    color:white;
    border-radius: 5px;
    text-align:left;
    box-shadow: 2px 2px 15px rgba(0,0,0,0.1);

}
a:link {
    color: rgb(243, 237, 237);
  }
  
  /* visited link */
  a:visited {
    /*color: rgb(67, 188, 197);*/
    color: #1756dd;
  }
  
  /* mouse over link */
  a:hover {
    color: #5823e9;
  }
  
  /* selected link */
  a:active {
    color: rgb(207, 167, 218);
  }

